* {
  box-sizing: border-box;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}



ul {
  list-style: none
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  height: calc(100vh - 150px);
  background: no-repeat center/cover url('/assets/bgh.jpg');
}


header nav {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
  color: #fff;
}

header nav p {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5em;
  transition: text-shadow .6s ;
}
header nav p:hover {
  text-shadow: 0px 0px 10px #fff;
}


header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin: 0 15px;
  font-weight: 600;
  cursor: pointer;
}

header nav ul li:hover {
  color: #f56c11;
  transition: .4s;
}


.header-content {
  color: #fff;
  font-weight: bold;
  max-width: 400px;
  margin: 150px auto;
  text-align: center;
  animation: ease text-move 2s forwards;
}


.header-content h1 {
  margin-bottom: 10px;
  font-size: 4rem;
}

@keyframes text-move{
  from {transform:  translateY(0px);
        opacity: 0;}
  to {transform:   translateY(-20px);
      opacity: 1;}
}
button {
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  border: 0;
  cursor: pointer;
  background-color: rgb(248, 124, 7);
  color: #fff;
}

/* PACOTES */

.pacotes {
  background-color: rgba(232, 231, 235, 0);
  padding: 25px;
}

.pacotes .pacotes-cards {
  /* background: #333; */
  margin: auto;
  max-width: 950px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.pacotes .pacotes-title { 
  width: 100%;
  margin: auto;
  padding: 15px;
  text-align: center;
}


.pacotes .card {
  margin: 25px;
  width: 250px;
  height: 350px;
  background: #fff;
  border-radius: 24px 0px;
  box-shadow: 0px 0px 4px -1px #222;
  position: relative;
  transition: all 1s;
}

.pacotes .card:hover {
  transform: scale(1.1);
}


.pacotes .card-image {
  width: 250px;
  height: 200px;
  border-radius: 24px 0 0 0;
  object-fit: cover;
}

.pacotes .card-content {
  padding: 0 15px;
}

.pacotes .card-content h1 {
  font-size: 0.9rem;
}

.pacotes .card-content ul  {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
}

.pacotes .card-content ul li {
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  margin: 3px 0px;
  color: gray;
  font-weight: bold;
}

.pacotes .card-content li svg {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.pacotes .card .card-tag-top{
  position: absolute;
  background: #f56c11;
  right: 0;
  top: 15px;
  border-radius: 8px 0 0 8px;
  padding: 5px 10px;
  box-shadow: 1px 2px 5px -2px #222;
}


.pacotes .card .card-tag-bottom {
  position: absolute;
  left: 0;
  top: 160px;
  background: #1d61dd;
  border-radius: 0 8px 8px 0;
  padding: 5px 10px;
  box-shadow: 1px 1px 4px 1px #222;
}

.pacotes .card .card-tag p {
  margin: 0;
  font-size: 0.8rem;
  font-weight: bold;
  color: #ffff;
}

/* SERVIÇOS */

.servicos {
  padding: 15px;
}

.servicos .servicos-title {
  text-align: center;
  margin: 25px;
}

.servicos .servicos-cards {
  display: flex;
  padding: 35px 0 ;
  max-width: 950px;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.servicos .card {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.servicos .card svg {
  width: 60px;
  height: 60px;
  margin: 50px 0;
  transition: all 1s;
}

.servicos .card svg:hover {
  color: #f56c11;
  transform: scale(1.1);
}

.servicos .card h3 {
  font-weight: bold;
}

.servicos .card p {
  color: gray;
  font-size: .8rem;
  text-align: center;
}

.servicos .card .card-content {
  height: 100px;
  text-align: center;
  margin-bottom: 50px;
}